.hero {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 0 15rem;
}

.hero h1 {
    font-size: 7rem;
}

.hero h1 span {
    color: var(--primary-accent);
}

.hero p {
    width: 60%;
}

.preventive-measures {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    padding: 5rem 15rem 0;
    gap: 7rem;
}

.preventive-measures h3 {
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--primary-accent);
    margin-bottom: 1rem;
}

.preventive-measures h1 {
    font-size: 6rem;
}

.preventive-measures ul {
    margin-top: 2rem;
}

.vaccination {
    padding: 10rem 15rem;
    gap: 7rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}

.vaccination h1 {
    font-size: 6rem;
}

.vaccination ul {
    margin-top: 2rem;
}

.vaccination h4 {
    margin-top: 2rem;
}

.facts {
    position: relative;

    padding: 10rem 15rem 0;
}

.facts h3 {
    text-transform: uppercase;
    letter-spacing: 5px;
    color: var(--primary-accent);
    margin-bottom: 1rem;
}

.facts h1 {
    font-size: 5rem;
}

.facts ul {
    margin-top: 2rem;
}

.virus-1 {
    top: -5rem;
    right: -10rem;
    width: 30%;
}

.virus-2 {
    bottom: -5rem;
    left: -10rem;
    width: 30%;
}

.virus-3 {
    top: -7rem;
    left: -20rem;
}

.virus-4 {
    right: -10rem;
    bottom: -20rem;
    width: 25%;
}

.virus-5 {
    left: -10rem;
    bottom: -15rem;
    width: 25%;
}

.img-container {
    border-radius: 20px;
    overflow: hidden;
}

.img-container img {
    object-fit: cover;
}

.accordion-container {
    padding: 10rem 15rem 0;
}

.accordion-container h1 {
    font-size: 6rem;
}

.accordion-container .container {
    margin-top: 3rem;
}

h3 {
    color: var(--primary-accent);
    margin: 3rem 0 1rem;
    letter-spacing: 5px;
}

.accordion-item {
    background-color: var(--card);
    border-radius: 50px;
    margin-bottom: 2rem;
    padding: 0 2rem;
    transition: 1s box-shadow;
}

.accordion-link {
    display: block;
    padding: 1.5rem 0;
    text-decoration: none;
    width: 100%;
    color: var(--primary-text);
    font-weight: 700;
}

.answer {
    max-height: 0;
    overflow: hidden;
    position: relative;
    transition: 1s max-height, 0.25s padding;
}

.accordion-item:target {
    box-shadow: 0 40px 50px #deebff;
}

.accordion-item:target .answer {
    max-height: 80rem;
    padding: 1rem 0 1.5rem;
}

@media screen and (max-width: 1600px) {
    .hero {
        padding: 0 10rem;
    }

    .hero h1 {
        font-size: 6rem;
    }

    .preventive-measures {
        padding: 5rem 10rem 0;
        gap: 5rem;
    }

    .preventive-measures h1 {
        font-size: 5rem;
    }

    .vaccination {
        padding: 10rem;
        gap: 5rem;
    }

    .vaccination h1 {
        font-size: 5rem;
    }

    .facts {
        padding: 10rem 10rem 0;
    }

    .accordion-container {
        padding: 10rem 10rem 0;
    }

    .accordion-container h1 {
        font-size: 5rem;
    }
}

@media screen and (max-width: 1080px) {
    .hero {
        padding: 0 5rem;
    }

    .hero h1 {
        font-size: 6rem;
    }

    .preventive-measures {
        grid-template-columns: 1fr;
        padding: 5rem 5rem 0;
        gap: 3rem;
        place-items: unset;
    }

    .preventive-measures h1 {
        font-size: 4rem;
    }

    .preventive-measures .img-container {
        height: 100%;
    }

    .vaccination {
        padding: 10rem 5rem;
        grid-template-columns: 1fr;
        gap: 3rem;
        place-items: unset;
    }

    .vaccination h1 {
        font-size: 4rem;
    }

    .facts {
        padding: 10rem 5rem 0;
    }

    .accordion-container {
        padding: 10rem 5rem 0;
    }

    .accordion-container h1 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 864px) {
    .hero {
        padding: 0 2rem;
    }

    .hero h1 {
        font-size: 5rem;
    }

    .preventive-measures {
        padding: 5rem 2rem 0;
        gap: 2rem;
    }

    .preventive-measures h1 {
        font-size: 3rem;
    }

    .vaccination {
        padding: 10rem 2rem;
        gap: 2rem;
    }

    .vaccination h1 {
        font-size: 3rem;
    }

    .facts {
        padding: 10rem 2rem 0;
    }

    .accordion-container {
        padding: 10rem 2rem 0;
    }

    .facts h1 {
        font-size: 3rem;
    }

    .accordion-container h1 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 468px) {
    .hero h1 {
        font-size: 3rem;
    }
}
